
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" />
    <link href="~/content/style.css" rel="stylesheet" />
</head>
  
<body>
    <h2>@ViewBag.Title</h2>
    <nav>
        <ul class="menu">
            <li>@Html.RouteLink("HOME", "Home")</li>
            <li>@Html.RouteLink("EVENTS", "Events")</li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>