@model TestMVC.Models.EventViewModel
@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddEvent", "Events", FormMethod.Post))
{
    <h2>AddEvent</h2>
     <div class="editor-field">
         <p>Enter name</p>
         @Html.EditorFor(model => model.Title)
         @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div class="editor-field">
        <p>Enter short description</p>
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="editor-field">
        <p>Enter details</p>
        @Html.EditorFor(model => model.Details)
        @Html.ValidationMessageFor(model => model.Details)
    </div>
    <div class="editor-field">
        <p>Enter location :</p>
        @Html.EditorFor(model => model.Location)
        @Html.ValidationMessageFor(model => model.Location)
    </div>
    <div>
        <p>Date from</p>
        <input type="date" name="DateFrom" placeholder="dd.mm.yyyy"/>
    </div>
    <div>
        <p>Date to</p>
        <input type="date" name="DateTo" placeholder="dd.mm.yyyy"/>
    </div>
    <div class="form-element">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
}