
@model TestMVC.Models.EventViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h1>@Model.Title</h1>
    @{
        if (Model.DateFrom != null)
        {
            <p class="lead">Starts at @Model.DateFrom</p>
        }
        if (Model.DateTo != null)
        {
            <p class="lead">Ends at @Model.DateTo</p>
        }
}
    <p>Location: @Model.Location</p>
    <p>@Model.Description</p>
    <p>@Model.Details</p>    
  <p><a class="btn btn-primary btn-lg">Join</a></p>
</div>