
@model TestMVC.Models.Event
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
  <h1>@Model.Title</h1>
    <h2>Starts at @Model.DateFrom</h2>
    <h2>Ends at @Model.DateTo</h2>
    <p>Location: @Model.Location</p>
    <p>@Model.Description</p>
    <p>@Model.Details</p>    
  <p><a class="btn btn-primary btn-lg">Join</a></p>
</div>