
@model TestMVC.Models.Event
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>@Model.title</h4> 

<p>@Model.description</p>
<p>@Model.details</p>
<p>@Model.location</p>
<p>(@Model.dateFrom.ToString() - @Model.dateTo.ToString())</p>


<input type="button" value="Join" style="btn btn-default"/>