@using TestMVC.Models;
@model ListModel
@{
    ViewBag.Title = "dtails";
    var item = ViewBag.Event;
}
<link href="~/home/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css"/>
<h2>List</h2>
<a href="/home/index">HOME</a> | <a href="/home/addevent">ADD NEW EVENT</a> | <a href="/home/list">EVENTS</a>
<h4>@item.title</h4> 

<p>@item.description</p>
<p>@item.details</p>
<p>@item.location</p>
<p>(@item.dateFrom.ToString() - @item.dateTo.ToString())</p>


<input type="button" value="Join" style="btn btn-default"/>

