
@model IEnumerable<TestMVC.Models.Event>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Location</th>
        <th>Date(from)</th>
        <th>Date (to)</th>
    </tr>   
@{
    var counter = 0;
    foreach (var item in Model)
	{
        counter++;
        <tr>
            <td>@item.title</td>
            <td>@item.description</td>
            <td>@item.location</td>
            <td>@item.dateFrom.ToString()</td>
            <td>@item.dateTo.ToString()</td>
            <td><a href="/home/details?id=@counter">JOIN</a></td>
        </tr>
	}    
}
</table>